# Server
PORT=8080
DATABASE_URL=your_postgresql_connection_string
CONTRACT_ADDRESS=your_contract_address

# AWS Credentials
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=us-east-1
AWS_S3_BUCKET=your_s3_bucket_name

JWT_SECRET=your_JWT_SECRET

SEPOLIA_RPC_URL=your_sepolia_rpc_url

PRIVATE_KEY=your_ethereum_private_key # this method is highly insecure. Some secret management tool is to be used eventually in production environment. Even if you're in a team, using key management tool is recommended.
